<section class="home" id="home">
    <!--home section start-->
            <div class="max-width">
                <div class="home-content">
                    <br><br>
                    <br><br>
                    <div class="text-1">Hello, My name is </div>
                    <div class="text-2">Geethalakshmi M N</div>
                    <div class="text-3"> and I'm a <span> frontend developer</span> </div> 
                    <a href="#">Hire Me</a>
    
        </div>
    </div>
    
            <!---home section end-->
        </section>
      <!--home content end-->
