<!---main container navigation bar-->
<nav class="navbar">
    <!---navigation start -->
    <div class="max-width">
    <div class="logo"><a href="#">protfo<span>lio</span></a></div>
    <div class="topnav-right"></div>
    <ul class="menu">
        <li><a href="#home" class="menu-btn"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="#about" class="menu-btn"><i class="fa fa-user"></i>About</a></li>
        <li><a href="#skills" class="menu-btn"><i class="fa fa-list"></i>Skills</a></li>
        <li><a href="#contact" class="menu-btn"><i class="fa fa-phone"></i>Contact</a></li>
    </ul>
    <div class="menu-btn">
        <i class="fa fa-bars"></i>
    </div>
    
 </div>
 <!---navigation end-->
</nav>
