<!--skill section start-->
<section class="skills" id="skills">
    <div class="max-width">
        
        <h2 class="title">My Skills</h2>
        <div class="skills-content">
            <div class="coloumn left">
                <div class="text">My skills and projrct</div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur tempora temporibus corporis minus totam esse aspernatur cumque doloremque commodi laboriosam non ex aut autem ullam, accusamus pariatur iure placeat ducimus.</p>   
                </div>
                <div class="column right">   

        <div class="col-titles">
            <p class="col-links active-link">SKILLS</p>
        </div>
        <div class="col-contents active-tab">
            <ul>
                <li>2015<br><span>SSLC-</span>GOVERNMENT GIRLS HIGH SCHOOL <span>-83%</span></li>
                <li>2017<br><span>PUC-</span>BHARATHI PU COLLEGE <span>-78%</span></li>
                <li>2020<br><span>B.Sc-</span>PES SCIENCE ARTS COMMERCE COLLEGE <span>-73%</span></li>
                <li>2022<br><span>MCA-</span>NATIONAL INSTITUTE OF ENGINEERING <span>-7 CGPA</span></li>
            </ul>
        </div>
        
        <div class="col-titles">
            <p class="col-links active-link">PROJECTS</p>
        </div>
        <div class="col-contents active-tab">
            <ul>
                <li>2015<br><span>SSLC-</span>GOVERNMENT GIRLS HIGH SCHOOL <span>-83%</span></li>
                <li>2017<br><span>PUC-</span>BHARATHI PU COLLEGE <span>-78%</span></li>
                <li>2020<br><span>B.Sc-</span>PES SCIENCE ARTS COMMERCE COLLEGE <span>-73%</span></li>
                <li>2022<br><span>MCA-</span>NATIONAL INSTITUTE OF ENGINEERING <span>-7 CGPA</span></li>
            </ul>
        </div>
     </div>
    </div>
</div>
</section>
